.container {
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: var(--cell-border);
    border-right: var(--cell-border);
    overflow: hidden;
}

.text {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.image {
    position: absolute;
    max-width: calc(200% - 25px);
    max-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.colour {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
