.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    pointer-events: none;
}

.text {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    padding: 1.5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
