/*----------------------------------------
Media Queries
----------------------------------------*/

/* Portrait */
@media only screen and (max-width: 599px) {
    :root {
        --wrapper-height: calc(112.5vw); /* 9/8 = 1.125 */
        --wrapper-width: calc(88.88vh); /* 8/9 = 0.8888 */
        --wrapper-height-max: calc(100vh);
        --wrapper-offset: -50px;
        --grid-rows: repeat(2, 1fr);
        --grid-columns: repeat(1, 1fr);
        --grid-rows-large: repeat(2, 1fr);
        --grid-columns-large: repeat(1, 1fr);
        --cell-visibility: none;
        --cell-visibility-mobile: flex;
        --menu-margin: 15px;
    }
}
@media only screen and (min-width: 600px) {
    :root {
        --wrapper-height: calc(56.25vw);
        --wrapper-width: calc(177.77vh - 240px);
        --wrapper-height-max: calc(100vh - 160px);
        --wrapper-offset: 0px;
        --grid-rows: repeat(2, 1fr);
        --grid-columns: repeat(2, 1fr);
        --grid-rows-large: repeat(2, 1fr);
        --grid-columns-large: repeat(1, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --menu-margin: 25px;
    }
}

@media only screen and (min-width: calc(148vh)) {
    :root {
        --wrapper-height: calc(56.25vw / 1.33);
        --wrapper-width: calc(100%);
        --wrapper-height-max: calc(100vh - 160px);
        --wrapper-offset: 0px;
        --grid-rows: repeat(3, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(3, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --menu-margin: 25px;
    }
}
/* 
@media only screen and (min-width: 177.79vh) {
     :root {
        --wrapper-height: calc(56.25vw - 50px);
        --wrapper-width: calc(177.78vh - 50px);
        --wrapper-height-max: calc(100vh - 50px);
        --wrapper-offset: -50px;
        --grid-rows: repeat(4, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(4, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --menu-margin: 25px;
    }
} */

/*----------------------------------------
Variables
----------------------------------------*/

:root {
    --font-size: 2.3rem;
    --line-height: 100%;
    --padding: 15px;

    --cell-border: 4px solid #000000;

    --banner-height: 80px;

    --menu-colour: #02ff00;
    --menu-border-radius: 12px;
}

/*----------------------------------------
Main
----------------------------------------*/

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

html body {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: diatype_regular;
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-colour);
    overflow: hidden;
    background: #000000;
}

/*----------------------------------------
Typography
----------------------------------------*/

@font-face {
    font-family: "diatype_regular";
    src: url("../fonts/diatype/diatype_regular.woff2") format("woff2"),
        url("../fonts/diatype/diatype_regular.woff") format("woff");
}
