.container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: var(--wrapper-height);
    max-height: 100vh;
    max-width: var(--wrapper-width);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: var(--grid-rows);
    background: #ffffff;
    border-top: var(--cell-border);
    border-left: var(--cell-border);
    overflow: hidden;
}

.grid > div:nth-child(n+3) {
    display: var(--cell-visibility);
}