.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--menu-margin);
    padding: 0;
    border-radius: var(--menu-border-radius);
    z-index: 99;
}

.button {
    position: absolute;
    height: 50px;
    width: 50px;
    background: var(--menu-colour);
    border-radius: var(--menu-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    cursor: pointer;
    padding: 12px;
}

.arrow {
  max-height: 100%;
  max-width: 100%;
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.popover {
    position: absolute;
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--padding);
    background: var(--menu-colour);
    border-radius: var(--menu-border-radius);
    overflow: hidden;
    transform-origin: 0% 0%;
}

.contact {
    opacity: 0;
}

.link {
    padding-top: var(--padding);
}