.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--padding);
    padding: 0;
    border-radius: var(--menu-border-radius);
    z-index: 999;
    font-size: 2.3rem;
}

.button {
    position: absolute;
    height: var(--menu-width);
    width: var(--menu-width);
    background: var(--menu-colour);
    border-radius: var(--menu-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    cursor: pointer;
    padding: 12px;
}

.arrow {
    max-height: 100%;
    max-width: 100%;
    animation: rotation 3s infinite linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.popover {
    position: absolute;
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--padding);
    background: var(--menu-colour);
    border-radius: var(--menu-border-radius);
    overflow: hidden;
    transform-origin: 0% 0%;
}

.contact {
    opacity: 0;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-menu);
}

.link {
    padding-top: var(--padding);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.link > a:visited,
.link > a:active,
.link > a:hover {
    color: #000000;
}
