/*----------------------------------------
Media Queries
----------------------------------------*/

@media only screen and (max-width: 640px) {
    :root {
        /* Global */
        --font-size: 1.4rem;
        --font-size-about: 1.3rem;
        --menu-width: 45px;

        /* Home */
        --wrapper-height: 112.5vw; /* 9/8 = 1.125 */
        --wrapper-width: 88.88vh; /* 8/9 = 0.8888 */
        --wrapper-height-max: 100vh;
        --wrapper-offset: -50px;
        --grid-rows: repeat(2, 1fr);
        --grid-columns: repeat(1, 1fr);
        --grid-rows-large: repeat(2, 1fr);
        --grid-columns-large: repeat(1, 1fr);
        --cell-visibility: none;
        --cell-visibility-mobile: flex;
        --font-size-banner: 2.3rem;

        /* Album */
        --card-title-font-size: 8vw;
        --card-code-font-size: 6vw;

        --grid-album-columns: 1;

        --header-columns: repeat(var(--grid-album-columns), var(--column-width));
        --footer-columns: 0.1fr 1fr;

        --header-track-column: 1 / 1;
        --header-track-display: none;
        --header-info-column: 1 / 1;
        --header-info-justify: flex-end;

        --footer-track-display: none;
        --footer-language-display: none;
        --footer-title-display: block;

        --about-padding: var(--padding);
        --card-padding: var(--padding);
    }
}
@media only screen and (min-width: 641px) {
    :root {
        /* Global */
        --font-size: 2.2rem;
        --font-size-about: 2.1rem;
        --menu-width: 50px;

        /* Home */
        --wrapper-height: calc(56.25vw);
        --wrapper-width: calc(177.78vh);
        --wrapper-height-max: calc(100vh);
        --wrapper-offset: 0px;
        --grid-rows: repeat(4, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(4, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --font-size-banner: 2.3rem;

        /* Album */
        --card-title-font-size: 4vw;
        --card-code-font-size: 2.7vw;

        --grid-album-columns: 2;

        --header-columns: calc(var(--padding-double) + var(--menu-width)) 1fr 0.5fr;
        --footer-columns: 0.4fr 1fr;

        --header-track-column: 2 / 2;
        --header-track-display: block;
        --header-info-column: 3 / 3;
        --header-info-justify: space-between;

        --footer-track-display: inline-block;
        --footer-language-display: block;
        --footer-title-display: none;

        --about-padding: var(--padding);

        --card-padding: var(--padding);
    }
}
@media only screen and (min-width: 1024px) {
    :root {
        /* Global */
        --font-size: 2.3rem;
        --font-size-about: 2.2rem;
        --menu-width: 50px;

        /* Home */
        --wrapper-height: calc(56.25vw);
        --wrapper-width: calc(177.78vh);
        --wrapper-height-max: calc(100vh);
        --wrapper-offset: 0px;
        --grid-rows: repeat(4, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(4, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --font-size-banner: 2.3rem;

        /* Album */
        --card-title-font-size: 1.65vw;
        --card-code-font-size: 1.25vw;
        --grid-album-columns: 5;

        --header-columns: repeat(var(--grid-album-columns), var(--column-width));
        --footer-columns: repeat(var(--grid-album-columns), var(--column-width));

        --header-track-column: 2 / 4;
        --header-track-display: block;
        --header-info-column: 5 / 6;
        --header-info-justify: space-between;

        --footer-track-display: inline-block;
        --footer-language-display: block;
        --footer-title-display: none;

        --about-padding: var(--column-width);

        --card-padding: calc(var(--padding) / 2);
    }
}

@media only screen and (min-width: 177.79vh) {
    :root {
        --wrapper-height: calc(56.25vw - 80px);
        --wrapper-width: calc(177.78vh - 80px);
        --wrapper-height-max: calc(100vh - 80px);
        --wrapper-offset: -80px;
        --grid-rows: repeat(4, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(4, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
    }
}

/*----------------------------------------
Variables
----------------------------------------*/

:root {
    --line-height: 100%;
    --text-offset: 4px;
    --padding: 15px;
    --padding-double: calc(var(--padding) * 2);
    --aspect: 0.5625;

    --column-width: calc((100vw - var(--border-width)) / var(--grid-album-columns));
    --row-height: calc(((100vw - var(--border-width)) / var(--grid-album-columns)) * var(--aspect));

    --menu-colour: #02ff00;
    --menu-border-radius: 12px;
    --menu-font-size: 2.5rem;

    --cell-border: var(--border-width) solid #000000;

    --border-width: 4px;

    --header-footer-height: 80px;

    --font-family: diatype_regular;
    --arial: Arial, Helvetica, sans-serif;
    --open-sans: "Open Sans", sans-serif;

    /* --cell-border: 3px solid #000000;

    --banner-height: 50px;

    --menu-colour: #02ff00;
    --menu-border-radius: 12px; */
}

/*----------------------------------------
Main
----------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

html body {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: diatype_regular;
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-colour);
    background: #000000;
}

/*----------------------------------------
Typography
----------------------------------------*/

@font-face {
    font-family: "diatype_regular";
    src: url("../fonts/diatype/diatype_regular.woff2") format("woff2"),
        url("../fonts/diatype/diatype_regular.woff") format("woff");
}

@font-face {
    font-family: "diatype_mono";
    src: url("../fonts/diatype/diatype_mono_light.woff2") format("woff2"),
        url("../fonts/diatype/diatype_mono_light.woff") format("woff");
}

h1,
p {
    font-weight: normal;
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding: 0;
    margin: 0;
}
