.container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: var(--cell-border);
    border-right: var(--cell-border);
    pointer-events: none;
}

.gridText {
    position: relative;
    margin: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(var(--home-columns-large), calc(100vw / var(--home-columns-large)));
    grid-template-rows: repeat(var(--home-rows-large), calc((100vw / var(--home-columns)) * var(--aspect)));
    border-top: var(--cell-border);
    border-left: var(--cell-border);
    overflow: hidden;
    transition: 0.5s;
}

.grid {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(var(--home-columns), calc(100vw / var(--home-columns)));
    grid-template-rows: repeat(var(--home-rows), calc((100vw / var(--home-columns)) * var(--aspect)));
    border-top: var(--cell-border);
    border-left: var(--cell-border);
    overflow: hidden;
}

.grid > div:nth-child(-n + 16) {
    display: var(--cell-visibility);
}

.grid > div:nth-child(n + 17) {
    display: var(--cell-visibility-mobile);
}

.gridText > div:nth-child(-n + 8) {
    display: var(--cell-visibility);
}

.gridText > div:nth-child(n + 9) {
    display: var(--cell-visibility-mobile);
}

.gridText > div:nth-child(n + 5) {
    transform: rotate(180deg);
}

.gridText > div:nth-child(n + 7) {
    transform: rotate(0deg);
}

.header {
    position: absolute;
    width: 100%;
    height: var(--header-footer-height);
    top: 0;
    left: 0;
    z-index: 95;
    display: flex;
    background: #000000;
    color: #ffffff;
    align-items: center;
    justify-content: flex-end;
}

.about {
    all: unset;
    grid-column: 5/6;
    margin-top: var(--text-offset);
    cursor: pointer;
    padding-right: var(--padding);
    text-transform: uppercase;
}
