/*----------------------------------------
Media Queries
----------------------------------------*/

/* Portrait */
@media only screen and (max-width: 599px) {
    :root {
        
        --menu-margin: 15px;
    }
}
@media only screen and (min-width: 600px) {
    :root {
        --wrapper-height: calc(56.25vw);
        --wrapper-width: calc(177.78vh);
        --wrapper-height-max: calc(100vh);
        --wrapper-offset: 0px;
        --grid-rows: repeat(4, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(4, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --menu-margin: 25px;
    }
}
@media only screen and (min-width: 177.79vh) {
     :root {
        --wrapper-height: calc(56.25vw - 50px);
        --wrapper-width: calc(177.78vh - 50px);
        --wrapper-height-max: calc(100vh - 50px);
        --wrapper-offset: -50px;
        --grid-rows: repeat(4, 1fr);
        --grid-columns: repeat(4, 1fr);
        --grid-rows-large: repeat(4, 1fr);
        --grid-columns-large: repeat(2, 1fr);
        --cell-visibility: block;
        --cell-visibility-mobile: none;
        --menu-margin: 25px;
    }
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: var(--wrapper-height);
    max-height: var(--wrapper-height-max);
    max-width: var(--wrapper-width);
    margin: auto;
    top: var(--wrapper-offset);
    bottom: 0;
    left: 0;
    right: 0;
}

.border {
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: var(--cell-border);
    border-right: var(--cell-border);
    pointer-events: none;
}

.gridLarge {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: var(--grid-columns-large);
    grid-template-rows: var(--grid-rows-large);
    border-top: var(--cell-border);
    border-left: var(--cell-border);
    overflow: hidden;
    transition: 0.5s;
}

.grid {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: var(--grid-rows);
    border-top: var(--cell-border);
    border-left: var(--cell-border);
    overflow: hidden;
}

.grid > div:nth-child(-n+16) {
    display: var(--cell-visibility);
}

.grid > div:nth-child(n+17) {
    display: var(--cell-visibility-mobile);
}

.gridLarge > div:nth-child(-n+8) {
    display: var(--cell-visibility);
}

.gridLarge > div:nth-child(n+9) {
    display: var(--cell-visibility-mobile);
}